{% load static %}

<!doctype html>
<html lang ="de">
<head>
<title>SE2 Projekt</title>

</head>
<body>
    <div style="text-align: center">
            <h1>Seminararbeit für das Fach SE2</h1>
            <h3>Thematik: Django Framework</h3>
            <h3>Praktische Umsetzung eines SE2 Forums</h3>
            <h3>30.12.2018</h3>
            <h3>von Marcel Jorde</h3>
            <img src="https://upload.wikimedia.org/wikipedia/de/e/e8/Hochschule_Muenchen_Logo.svg" width="700" height="300">
            <br><br><br>
            <div>
                    <button class="btn btn-default"><a href="{% url 'login' %}">zum Login</a></button>
            </div>
            
    </div>


</body>

