{% extends 'blog/base.html' %}

{% block content %}

<div class="w3-col l4" >
        <div class="w3-card w3-margin w3-margin-top">
                <div class="w3-container w3-white">
                    <div style="text-align: center">
                            <a href="{% url 'post_list' %}"><span class="glyphicon glyphicon-envelope" style="font-size:5em; color: #000"></span></a>
                    </div>                   
                </div>
        </div>
</div>

<div class="w3-col l4" >
        <div class="w3-card w3-margin w3-margin-top">
                <div class="w3-container w3-white">
                    <div style="text-align: center">
                        <a href="{% url 'todo' %}"><span class="glyphicon glyphicon-check" style="font-size: 5em; color: #000;"></span></a>
                    </div>
                </div>
        </div>
</div>

<div class="w3-col l4" >
        <div class="w3-card w3-margin w3-margin-top">
                <div class="w3-container w3-white">
                    <div style="text-align: center">
                        <a href="{% url 'poll' %}"><span class="glyphicon glyphicon-question-sign" style="font-size: 5em; color: #000"></span></a>
                    </div>
                </div>
        </div>
</div>
{% endblock %}