{% extends 'blog/base.html' %}

{% block content %}
    <div class="w3-content" style="max-width: 100%; padding-left: 4%">
        <div class="w3-row">
            {% if user.is_staff %}
                <div style="text-align: center">
                    <div style="padding-right: 4%">
                        <div class ="w3-card-4 w3-margin w3-white">
                            <div class="w3-container">
                                <a href = "{% url 'post_new' %}" style="color:black"> <span class="glyphicon glyphicon-plus"></span>Neuen Post hinzufügen</a>
                            </div>
                        </div>   
                    </div>      
                </div>
            {% endif %}
            <div>
                {% for post in posts %}
                    <div style="padding-right: 4%">
                        <div class ="w3-card-4 w3-margin w3-white">
                            <div class="w3-container">
                                <h3>{{post.title}}</h3>
                                <h5>von: {{post.author}}, <span class="w3-opacity">veröffentlicht: {{post.published_date}}</span></h5>
                            </div>
                            <div class="w3-container">
                                <p>{{post.text|linebreaksbr}}</p>
                                <div class="w3-row">
                                    <a href="{% url 'post_detail' pk=post.pk %}" style="color:black"><p><span class="w3-padding-large w3-right" ><b>Kommentare:  </b> <span class="w3-tag"> {{ post.comments.count }}</span></span></p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

 {% endblock %}